<title>
    @ViewData["Title"] - Grafico
</title>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<div id="chart_div" style="width: 900px; height: 500px;"></div>

<script type="text/javascript">

    google.charts.load('current', {packages: ['corechart', 'bar']});
    google.charts.setOnLoadCallback(CarregaDados);

    function CarregaDados() {
        $.ajax({
            url: '@Url.Action("PopulacaoGrafico","Populacao")',
            dataType: "json",
            type: "GET",
            error: function(xhr, status, error) {
                var err = eval("(" + xhr.responseText + ")");
                toastr.error(err.message);
            },
            success: function(data) {
                GraficoPopulacional(data);
                return false;
            }
        });
        return false;
    }
    function GraficoPopulacional(data) {
        var dataArray = [
            ['Cidade', '2010' , '2017']
        ];
        $.each(data, function(i, item) {
            dataArray.push([item.cidade, item.populacao2010, item.populacao2017]);
        });
        var data = google.visualization.arrayToDataTable(dataArray);
        var options = {
            title: 'Brasil - População das 5 Cidades mais populosas',
            chartArea: {
                width: '50%'
            },
            colors: ['#b0120a', '#ffab91'],
            hAxis: {
                title: 'Populacao Total (em milhões)',
                minValue: 0
            },
            vAxis: {
                title: 'Cidade'
            }
        };
        var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
        chart.draw(data, options);
        return false;
    }
</script> 